<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1C1 AppView - As-Is - Lack of Demand Data</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../css/model.css">
	<link type="text/css" rel="stylesheet" href="../css/i18n.css">
	<script type="text/javascript" src="../js/frame.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>1C1 AppView - As-Is - Lack of Demand Data</b>
			(<span class="i18n-viewpoint-16"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint16" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/98ca7373.png" alt="1C1 AppView - As-Is - Lack of Demand Data">
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/9bc07012.html" target="element"> Maintenance Task </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/c3fa8732.html" target="element"> PM Notification </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/4007f513.html" target="element"> PM Order </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/dd986727.html" target="element"> PM Operation </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/690fdeb6.html" target="element"> Mission Planning </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/cfd05a5f.html" target="element"> Office Document Creation </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/9e006d9a.html" target="element"> Mission Planning (Out of SAP) </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/cbdffea6.html" target="element"> Maintenance Forecast Reporting </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/be6acac9.html" target="element"> Maintenance Forecast Reporting SAP </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/80618fc7.html" target="element"> Equipment </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										<tr><td> <a href="../elements/33b50754.html" target="element"> Plan Squadron (out of SAP) </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/f698a2c3.html" target="element"> Maintenance Notification & Order Management </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/9761bdb8.html" target="element"> Maintenance Plan </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										<tr><td> <a href="../elements/b4c27246.html" target="element"> Maintenance Processing </a> </td><td class="i18n-elementtype-ApplicationCollaboration"></td></tr>
												<tr><td> <a href="../elements/d869597a.html" target="element"> Maintain PM Notifications and Orders </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/46aaf8ac.html" target="element"> Schedule Maintenance Plans </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										
										<tr><td> <a href="../elements/07b73224.html" target="element"> Measuring Point </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										<tr><td> <a href="../elements/42198f28.html" target="element"> Work Request Creation </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/0ea2827c.html" target="element"> Functional Location </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										<tr><td> <a href="../elements/af4b85f3.html" target="element"> Maintenance Scheduling </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/16dbf024.html" target="element"> Work Request Creation </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>